includes:
  - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
  ignoreErrors:
    -
      message: '#return webignition\\WebResource\\WebPage\\WebPage#'
      path: '%currentWorkingDirectory%/src/SourceMutator.php'

    -
      message: '#return webignition\\WebResource\\WebPage\\WebPage#'
      path: '%currentWorkingDirectory%/tests/Factory/WebPageFactory.php'
