includes:
  - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
  ignoreErrors:
    -
      message: '#function ltrim expects string#'
      path: '%currentWorkingDirectory%/src/SourceMutator.php'

    -
      message: '#function trim expects string#'
      path: '%currentWorkingDirectory%/src/SourceMutator.php'